@import "tailwindcss";

@theme {
  --color-white100: #F5F5F5;
  --color-red50: #D93F21;
  --color-red100: #FF6F61;
  --color-blue100: #3b82f6;
  --color-blue200: #0067a2;
  --color-blue300: #2563EB;
  --color-blue400: #1F2937;
  --color-green100: #34D933;
  --color-green200: #10B981;
  --color-gray10: #FFF2F2;
  --color-gray50: #F0F2F5;
  --color-gray100: #e6e6e6;
  --color-gray200: #5c5c5c;
  --color-gray300: #6c757d;
  --font-epilogue: "epilogue", sans-serif;
  --font-inter: "epilogue", sans-serif;
  --font-poppins: "epilogue", sans-serif;
}
